<div class="main-content">
  <app-header></app-header>

  <main>

    <br><br><br>
<!------------------------------------------------------------------------------------------------------------------------------>

    <!--<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <form class="example-form">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Choose a role...</mat-label>
              <mat-select>
                <mat-option [value]="roles" *ngFor="let roles of Roles"
                  >{{ roles }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-content>
          <button mat-stroked-button color="accent" class="btn-block">
            Register
          </button>
        </form>
      </mat-card>
    </div>-->


<!------------------------------------------------------------------------------------------------------------------------------>


    <mat-card class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="addUser()">
          <mat-card-header>
            <mat-card-title>Register</mat-card-title>
          </mat-card-header>

          <mat-form-field>
            <input matInput placeholder="Nom" [(ngModel)]="newUser.nom" name="nom" required>
            <mat-error>
              Please provide a valid name address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Login" [(ngModel)]="newUser.login" name="login" required>
            <mat-error>
              Please provide a valid login address
            </mat-error>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field>
            <input matInput type="email" placeholder="Email" [(ngModel)]="newUser.email" name="email" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" [(ngModel)]="newUser.password" name="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field>
            <input matInput placeholder="Adresse" [(ngModel)]="newUser.adresse" name="address" required>
            <mat-error>
              Please provide a valid adress
            </mat-error>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field>
            <input matInput type="number" placeholder="telephone" [(ngModel)]="newUser.tel" name="tel" required>
            <mat-error>
              Please provide a valid adress
            </mat-error>
          </mat-form-field>
          
          <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" class="btn-block">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
    <!------------------------------------------------------------------------------------------------------------------------------>
    <!-- Router outlet -->
    <router-outlet></router-outlet>
  </main>
</div>
